<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <main>
        
            <% if(p.length > 0) { %>
                <ul>
                    <% p.forEach(prod => { %>
               <h1><%= prod.title %></h1>   
               <h2><%= prod.cartItem.quantity %></h2>      
                </ul>
            <% }) %>

            <% } %> 
            <form action="/createorder" method="POST">
                <button>Order Now</button>
            </form>
    </main>
</body>
</html>