<html>
    <head>
        <title>
            Dashboard
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <li><a href="/logout">LogOut</a></li>
        <h1>Hi <%=user %></h1>
    </body>
</html>